@model FinalProject_3K1D.Models.Food
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Order Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSanPham)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSanPham)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apphich)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apphich)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PLoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PLoai)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", new { id = Model.IdSanPham })" class="btn btn-warning">Edit</a> |
    <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
</div>
