@model IEnumerable<FinalProject_3K1D.Models.KhuyenMai>

@{
    ViewData["Title"] = "Discounts";
    Layout = null; // Assuming you do not want to use a layout file.
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movies Website</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        @Html.Partial("_Navbar")
</header>
    <div class="p-4">
        <h1>@ViewData["Title"]</h1>

        <div class="row">
            @foreach (var discount in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@discount.TenKhuyenMai</h5>
                            <p class="card-text">Value: @discount.GiaTri.ToString("C")</p>
                            <p class="card-text">Start Date: @discount.NgayBatDau.ToShortDateString()</p>
                            <p class="card-text">End Date: @discount.NgayKetThuc.ToShortDateString()</p>
                            <a href="@Url.Action("Claim", "GiamGia", new { id = discount.IdKhuyenMai })" class="btn btn-primary">Claim</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</body>
</html>
